<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Mojiblue</key>
	<string>#4294EA</string>
	<key>page</key>
	<string>#EEF1F4</string>
	<key>white</key>
	<string>#FFFFFF</string>
	<key>black01</key>
	<string>#212223</string>
	<key>black02 </key>
	<string>#666666</string>
	<key>black03</key>
	<string>#999999</string>
</dict>
</plist>
